.booking-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.booking-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.booking-card p {
    color: #666;
    margin-bottom: 10px;
}

.booking-card button {
    padding: 8px 16px;
    background-color: #f4b400;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.booking-card button:hover {
    background-color: #050505;
}
